@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
}

/* In your global CSS */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 230 89% 7%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --marketplace-primary: 237 100% 93%;
    --marketplace-foreground: 231 100% 99%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 230 89% 7% /0.6;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --text-primary: 231 15% 33%;
    --core-purple: 238 44% 45%;
    --light-blue: 222 30% 92%;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --marketplace-primary: 237 100% 93%;
    --marketplace-foreground: 231 100% 99%;

    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --text-primary: 231 8% 82%;
  }
}

/* globals.css */

/* Prevent zoom on input focus in iOS */
input,
select,
textarea {
  font-size: 16px !important;
}

/* Ensure inputs don't cause zoom on focus */
@media screen and (max-width: 768px) {
  input[type="text"],
  input[type="search"],
  input[type="email"],
  input[type="tel"],
  input[type="url"] {
    font-size: 16px;
    transform: scale(1);
    transform-origin: left center;
  }

  /* Ensure form elements are easily tappable without zoom */
  input,
  button,
  select,
  textarea {
    touch-action: manipulation;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

.text-h1 {
  @apply leading-none text-5xl md:text-[56px] lg:text-[90px]  xl:text-[104px]  tracking-tight scroll-m-20 font-bold;
}
.text-h2 {
  @apply leading-none text-3xl md:text-[32px] lg:text-[44px] xl:text-5xl font-semibold tracking-tight scroll-m-20 first:mt-0;
}
.text-h3 {
  @apply leading-tight  text-xl  lg:text-[32px] xl:text-4xl font-medium tracking-tight scroll-m-20;
}
.text-h4 {
  @apply leading-tight 2xl:leading-normal text-xl lg:text-[28px] xl:text-[32px] font-medium tracking-normal scroll-m-20;
}
.text-h5 {
  @apply text-base font-medium leading-normal tracking-normal md:text-xl lg:text-2xl 2xl:leading-tight scroll-m-20;
}
.text-h6 {
  @apply text-base font-medium leading-relaxed tracking-wide lg:text-lg;
}

.bg-gradient-custom {
  background-image: linear-gradient(
    to right,
    #0cc990 0%,
    #6a70ff 36%,
    #41c7d9 66%,
    #aee219 100%
  );
}

.text-rotate {
  display: flex;
  flex-wrap: wrap;
  white-space: pre-wrap;
  position: relative;
}

.text-rotate-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.text-rotate-word {
  display: inline-flex;
}

.text-rotate-lines {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text-rotate-element {
  display: inline-block;
}

.text-rotate-space {
  white-space: pre;
}

input::placeholder {
  color: --foreground !important;
  opacity: 1 !important;
  font-weight: 300 !important;
}
