@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Outfit-Regular";
  src: url("https://db.onlinewebfonts.com/t/771c49f7c4367802d13ab202d164204b.eot");
  src: url("https://db.onlinewebfonts.com/t/771c49f7c4367802d13ab202d164204b.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/771c49f7c4367802d13ab202d164204b.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/771c49f7c4367802d13ab202d164204b.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/771c49f7c4367802d13ab202d164204b.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/771c49f7c4367802d13ab202d164204b.svg#Outfit")format("svg");
}

@font-face {
  font-family: "Outfit-Regular";
  src: url(../assets/fonts/Outfit/otf/Outfit-Regular.otf);
}

body {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  scrollbar-gutter: stable;
  background: #4537BA;
  /* background: linear-gradient(180deg, #FFF 0.11%, #E4E6F5 99.89%); */
}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1,
div,
h2,
h3,
h4,
p,
span,
button {
  font-family: "Outfit", sans-serif;
}







input#pure-date {
  width: -webkit-fill-available;
  width:100%;
  background-color: #c3c7db32;
  background-color: #c3c7db32;
  border: 1px solid #e4e4e7;
  color: rgb(113 113 122);
  border-radius: 6px;
  padding: 9px;
  font-size: 0.875rem;
}

input#pure-date:focus-visible {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 0 1px rgba(59, 130, 246, 0.5); /* Add custom focus indicator */
}

input#pure-date:focus,input#pure-date:focus-visible, input#pure-date:focus-within {
  width: -webkit-fill-available;
  width:100%;
  background-color: #c3c7db32;
  background-color: #c3c7db32;
  border: 1px solid #e4e4e7;
  color: rgb(113 113 122);
  border-radius: 6px;
  padding: 9px;
  font-size: 0.875rem;
}



#datepicker-id:-webkit-input-placeholder {
  color: rgb(113 113 122);
  width: -webkit-fill-available;
}

#datepicker-id,
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: rgb(113 113 122);
  width: -webkit-fill-available;
}

#datepicker-id {
  width: -webkit-fill-available;
  width:100%;
  background-color: #c3c7db32;
  background-color: #c3c7db32;
  border: 1px solid #e4e4e7;
  color: rgb(113 113 122);
  border-radius: 6px;
  padding: 9px;
  font-size: 0.875rem;
}

#datepicker-id:focus-visible {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 0 1px rgba(59, 130, 246, 0.5); /* Add custom focus indicator */
  width: -webkit-fill-available;
}

input#pure-date:focus,input#pure-date:focus-visible, input#pure-date:focus-within #datepicker-id {
  width: -webkit-fill-available;
  width:100%;
  background-color: #c3c7db32;
  background-color: #c3c7db32;
  border: 1px solid #e4e4e7;
  color: rgb(113 113 122);
  border-radius: 6px;
  padding: 9px;
  font-size: 0.875rem;
}



input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: rgb(113 113 122);
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: rgb(113 113 122);
}

.SG-datepicker__input-container {
width: 100%;
}
