@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Outfit-Regular";
  src: url("https://db.onlinewebfonts.com/t/771c49f7c4367802d13ab202d164204b.eot");
  src: url("https://db.onlinewebfonts.com/t/771c49f7c4367802d13ab202d164204b.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/771c49f7c4367802d13ab202d164204b.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/771c49f7c4367802d13ab202d164204b.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/771c49f7c4367802d13ab202d164204b.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/771c49f7c4367802d13ab202d164204b.svg#Outfit")
      format("svg");
}

@font-face {
  font-family: "Outfit-Regular";
  src: url(../assets/fonts/Outfit/otf/Outfit-Regular.otf);
}

body {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  scrollbar-gutter: stable;
  background: #4537ba;

  /* background: linear-gradient(180deg, #FFF 0.11%, #E4E6F5 99.89%); */
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    /* --primarypayment:  238 50% 41%; */

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --primarypayment:  238 50% 41%;


    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  p,
  li,
  code,
  button {
    @apply text-xs font-normal lg:text-sm md:text-[13px]  leading-relaxed tracking-wide;
  }

  .text-h1 {
    @apply leading-none text-5xl md:text-[56px] lg:text-[90px]  xl:text-[104px]  tracking-tight scroll-m-20 font-bold;
  }
  .text-h2 {
    @apply  leading-none text-3xl md:text-[32px] lg:text-[44px] xl:text-5xl font-semibold tracking-tight scroll-m-20 first:mt-0;
  }
  .text-h3 {
    @apply leading-[1]  text-xl  lg:text-[32px] xl:text-4xl font-medium tracking-tight scroll-m-20;
  }
  .text-h4 {
    @apply leading-tight 2xl:leading-normal text-xl lg:text-[28px] xl:text-[32px] font-medium tracking-normal scroll-m-20;
  }
  .text-h5 {
    @apply text-base font-medium leading-normal tracking-normal md:text-xl lg:text-2xl 2xl:leading-tight scroll-m-20;
  }
  .text-h6 {
    @apply text-base font-medium leading-relaxed tracking-wide lg:text-lg;
  }

  .text-pb {
    @apply text-[13px] lg:text-sm leading-[120%] -tracking-normal font-medium;
  }
  .text-pm {
    @apply text-[11px] lg:text-xs leading-[120%] -tracking-normal font-normal;
  }
  .text-ps {
    @apply text-[9px] lg:text-[10px] leading-[120%] -tracking-normal font-normal;
  }
}

h1,
div,
h2,
h3,
h4,
p,
span,
button {
  font-family: "Outfit", sans-serif;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #3b82f680;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  height: 46px;
  border: 0.5px;
  font-size: 15px;
  color: #71717a;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  color: #000000;
  font-weight: 500;
}
